<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>厦门大学学工信息管理系统</title>
	<link rel="stylesheet" href="css/style.css" type="text/css"  />
	<script type="text/javascript" src="scripts/jquery-1.11.1.min.js"></script>
</head>

<body>
	<form action="a.html" method="post" class="search_form" onSubmit="goto();return false;">
		<div class="form_head"><span>查询条件</span></div>
		<label class="form_name">姓名：</label><input type="text" class="t2" value="cxx" /><br />
		<label>性别：</label><input type="radio" name="fm" checked="checked" class="fm"/>男<input type="radio" name="fm" class="fm"/>女<br />
		<label>证件号：</label><input type="text" class="t3" value="3508251992162614"><br />
		<label>出生年月：</label><input type="text" class="t2" value="1992"/><input type="text" class="t1" value="12"/><br />
		<label>年龄：</label><input type="num"  class="t1" value="22"/><br />
		<label>来校时间：</label><input type="text" class="t2" value="2011"/><input type="text"  class="t1" value="9"/><br />
		<label>级别：</label><input type="text" class="t1" value="处级"/><input type="text" class="t2" value="人事部主任"/><br />
		<input type="submit" value="提交查询" class="sub"/><input type="reset" value="重置条件" class="res" />
	</form>
</body>
</html>
